name: Publish gh-pages

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths-ignore:
      - "docs/**"

# GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ministryofjustice/tech-docs-github-pages-publisher:v3
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Compile Markdown to HTML and create artifact
        run: |
          /scripts/deploy.sh
      - name: Upload artifact to be published
        uses: actions/upload-artifact@v3
        with:
          name: github-pages
          path: artifact.tar
          retention-days: 1

  deploy:
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2

  url-check:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Download a Build Artifact from build
        uses: actions/download-artifact@v3
        with:
          name: github-pages
          path: github-pages
      - name: Unpack files and check URL links
        run: |
          cd github-pages
          tar -xvf artifact.tar
          npm install linkinator
          npx linkinator . --recurse --markdown \
            --skip https://groups.google.com/* \
            --skip https://github.com/ministryofjustice/dns \
            --skip https://github.com/ministryofjustice/moj-ip-addresses \
            --skip https://github.com/ministryofjustice/mta-sts \
            --skip https://manage.auth0.com/dashboard/eu/moj-uk \
            --skip https://github.com/orgs/ministryofjustice/teams/operations-engineering \
            --skip https://github.com/organizations/ministryofjustice/settings/installations/16911235 \
            --skip https://runbooks.operations-engineering.service.justice.gov.uk/images/govuk-large.png \
            --skip https://github.com/ministryofjustice/%7BPROJECT_NAME%7D/settings/keys \
            --skip https://github.com/ministryofjustice/operations-engineering-runbooks/issues/*
            --skip https://drive.google.com/file/d/1eYCm5PqpsQXKQdT_XhNi-wbH4976t9M5/view?usp=sharing
          # "URL Check will fail on private and internal GitHub repositories"
